body{
    font-family: calibri;
    font-size: 16px;
}
#ph{
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    margin-left: 2px;
}
#conghead{
    position: fixed;
    background-color: white;
    padding-top: 10px;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 2000;
        
}
.content{
    margin-top: 50px;
    
}
.header{
    padding: 5px;
    height: 40px;
	background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
	background-repeat: repeat-x;
	background-color: #f5f5f5;
}
.form-control{
    padding: 0;
    font-size: 12px;
    height: 30px;
}
#himg{
    height: 8%;
    width: 8%;
}
.heading a{
    text-decoration: none;
}
.bar button{
    background-color: transparent;
    color: black;
    border:0;
}
#navbar{
    background-color: #474747;
    margin: 0;
    height: 95.43vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
ul li a{
    text-decoration: none;
    color: #C4C4C4;
}
ul.opts{
    list-style: none;
    padding-top: 10%;
    padding-left: 10%;
}
ul.opts li{
    line-height: 40px;
  text-indent: 5px;
}

.opts li a:hover{
    color: white;
}
.opts li a:focus{
    color: white;
}
.opts li a.active{
    color: white;
}
.page-header{
    margin: 0;
    padding-top: 9px;
    border-bottom: 2px solid #E6E6E6;
    padding-bottom: 0px;
}
.head{
    padding-left: 1%;
}
.lc{
    margin-left: 15px;
    margin-right: 15px;
}
#mc{
    padding:0;
     height: 95.43vh;
    background-color: #F0F0F0;
    
}
#leg .container1{
    background-color: #F0F0F0;
}
.tb{
    background-color: white;
    border: 1px solid #E6E6E6;
    margin-left: 1%;
    margin-right: 1%;
   padding-bottom: 20px;
    border-radius: 5px;
     box-shadow: 1px 1px 2px 2px grey;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover a{
    border-color: #eee #eee #eee #eee;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: white;
}
/*.table>tbody>tr>td{
    padding-top: 2px;
    padding-bottom: 5px;
}*/
.tab-content{
    margin-left: 2%;
    margin-right: 2%;
}
#state{
    border: 1px solid #E6E6E6;
}
#house{
    border: 1px solid #E6E6E6;
}
#senate{
    border: 1px solid #E6E6E6;
}

.vd{
    padding-right: 5%;
}

.pagination {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 250px;
}

#selstb{
   margin-left: 875px;
    width: 150px;   
}
#hs{
   margin-left: 850px;
    width: 150px;
}
#as{
   margin-left: 850px;
    width: 150px;
}
#ns{
   margin-left: 850px;
    width: 150px;
}
.well{
    margin-bottom: 0;
}

#actbil{
    border: 1px solid #E6E6E6;
}
#bill .container1{
    background-color: #F0F0F0;
}

.bilt>tbody>tr>td{
    padding-top: 5px;
    padding-bottom: 5px;
}
#com .container1{
    background-color: #F0F0F0;
}
#cs{
   margin-left: 850px;
    width: 150px;
}
#chouse{
    border: 1px solid #E6E6E6;
}
#csenate{
    border: 1px solid #E6E6E6;
}
#cjoint{
    border: 1px solid #E6E6E6;
}
.jt>tbody>tr>td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#fav .container1{
    background-color: #F0F0F0;
}
#fleg{
    border: 1px solid #E6E6E6;
}
#fs{
   margin-left: 850px;
    width: 150px;
}
#fbil{
    border: 1px solid #E6E6E6;
}
#fcom{
    border: 1px solid #E6E6E6;
}
#ld{
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    
}
#ret{
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
#ret1{
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
/*#ldetf{
    margin-left: 15px;
    border-top: 1px  solid #E6E6E6;
}*/

.sse{
    text-decoration: none;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
.fsse{
    text-decoration: none;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
.csse{
    text-decoration: none;
}
.csf{
    border: 1px solid #E6E6E6;
    padding: 5px;
}
.cse{
    border: 1px solid #E6E6E6;
    padding: 5px;
}
.se{
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    padding: 5px;
}
.se:hover{
   background-color: #E6E6E6;
}
#ret1:hover{
   background-color: #E6E6E6;
}
.sf{
    border: 1px solid #E6E6E6;
    padding: 5px;
}
.fa-star-o{
   font-size: 20px;
    color: gray;
}
.sf{
   font-size: 20px;
    color: yellow;
    -webkit-text-stroke-width : 1px;
	-webkit-text-stroke-color : gray;
}
.sse:hover{
    text-decoration: none;
    background-clip: #E6E6E6;
}
.sse.active{
    text-decoration: none;
}
.sse:focus{
    text-decoration: none;
}
.fse:hover{
    text-decoration: none;
    background-clip: #E6E6E6;
}
.fse.active{
    text-decoration: none;
}
.fse:focus{
    text-decoration: none;
}
.csf{
    
   font-size: 20px;
    color: yellow;
    -webkit-text-stroke-width : 1px;
	-webkit-text-stroke-color : gray;
}
.csse:hover{
    text-decoration: none;
}
.csse.active{
    text-decoration: none;
}
.csse:focus{
    text-decoration: none;
}
.fa-trash{
    font-size: 20px;
}
.cft:hover .fa-trash{
   
    color: red;
}
.cft{
    text-decoration: none;
    color: gray;
}
.cft:hover{
     border: 1px solid gray;
    background-color: #E6E6E6;
    text-decoration: none;
}
.cft:focus{
    text-decoration: none;
}
.cft.active{
    text-decoration: none;
}
.cft{
     border: 1px solid #E6E6E6;
    padding: 5px;
}
#ret:hover{
    background-color: #E6E6E6;
}
@media (max-width:767px) {
    
    
    #ph{
        font-size: small;
    }  
    
    #himg{
        height: 50%;
        width: 30%;
        margin: 0;
    }
    .name{
        display: none;
    }
    .lc{
        font-size: small;
        overflow-x: auto;
    }
    /*.tls{
        width: 100%;
        min-width: 1600px;
    }*/
    #house{
        font-size: small;
        overflow-x: scroll;
    }
    #senate{
        font-size: small;
        overflow-x: scroll;
    }
    .pagination{
        margin-left: 0;
    }
    #lbshead{
       font-size: 10px;
       
    }
    .form-control{
       
        width: 100px;
        
    }
    #fimg{
        width: 200px;
        height: 200px;
    }
   #selstb{
        font-size: small;
       float: right;
        width: 50px;   
    }
    .bt{
        display: none;
    }
    #fct{
        border: 2px solid #E6E6E6;
    }
    #fct1{
        width: 50%;
    }
    .tb>ul>li{
        font-size: 12px;
    }
    #actbil{
        font-size: small;
        overflow-x: scroll;
    }
    #nbil{
        font-size: small;
        overflow-x: scroll;
    }
    #det{
        font-size: small;
        overflow-x: scroll;
    }
    #ld{
        margin-left: 4%;
        margin-right: 4%;
    }
    #mbb{
        padding-bottom: 10px;
        border-bottom: 1px solid #E6E6E6;
    }
    
 
}